<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <!--link to static css file-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static')}}">
</head>
<body style="background-color: rgb(7, 169, 69);">
    <h1>Welcome to Immy and Daughter liquide soap company</h1>
    <h2>We are blessed to serve you and honour your favourate product</h2>
    <h3>h3We are determined to to produce quality product that suit our clients</h3>
    <h4>Discounts are given to our consistent customer to appreciate them for supporting us.</h4>
</body>
</html>