<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body style="background-color: rgb(9, 200, 140);">
    <h1>We are located in kampala_Najjera along kiwatule road opposite shell petrol station</h1>
    <h2>You can as well find us on Tel: +256 772980104 / +256758465581</h2>
    <h3>For more information reach us on Email:nisiimaimmy@gmail.com</h3>
    <h4>Be blessed us you reach to our services. THANK YOU</h4>
</body>
</html>